{{- /* Go Template */ -}}
version: "3.9"
services:
{{- range $val := .Functions}}
  {{$val.Name}}:
    build: ./{{$val.Name}}
    {{ if $val.HasRedis -}}
    depends_on:
    {{ if $val.HasRedis -}}
      - redis
    {{- end }}
    {{ end -}}
    {{ if $val.IsGateway -}}
    ports:
      - "8080:80"
    {{- end -}}
{{end -}}
{{- range $val := .Services}}
  {{$val.Name}}:
    image: "{{$val.Image}}"
{{end -}}